spaceBetween()
  display: flex
  justify-content: space-between
  align-items: center

verticalCenter()
  display: flex
  align-items: center

wrapSpaceBetween()
  display: flex
  flex-wrap: wrap

lines-over-flow($line)
  display: -webkit-box
  -webkit-line-clamp: $line
  -webkit-box-orient: vertical
  text-overflow: ellipsis
  overflow: hidden
  word-break: break-all
