// color
$grey = #f4f4f4
$greyDark = #999999
$red = #fb7299
$white = #ffffff
$orange = #EC6130
$green = #3cb963
$activeColor = #fb7299
$text-color = #757575
$text-color-normal = #666666
$text-color-black = #333333
$background-color = #f8f8f8
$gradient = linear-gradient(to right, #ff6034, #ee0a24)

// Font Size
$font-size-xs = 10px
$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px
$font-size-title = 18px
